<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="text" name="user[name]" placeholder="Name" />
		<input type="text" name="user[email]" placeholder="Email" />
		<input type="text" name="user[password]" placeholder="Password" />
		<input type="text" name="user[password_confirmation]" placeholder="Confirm Password" />
		<input type="submit" value="Join" />
	</form>
	<a href="/sessions/new">Already Registered?</a>
</body>
</html>